html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.gotopbtn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #563bac;
  bottom: 40px;
  right: 15px;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  color: white;
  font-size: 22px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header {
  height: 100vh;
  background-image: url("images/background-5.png");
  background-position: center;
  background-size: cover;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  margin-top: 30px;
  width: 100px;
}

.header-text {
  max-width: 350px;
  margin-top: 140px;
}

h1 {
  font-size: 34px;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #563bac;
  margin: 15px 0;
}

.comman-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #563bac;
  font-weight: bold;
  cursor: pointer;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

.header-text button {
  margin-top: 20px;
  margin-bottom: 60px;
}

.line-1 {
  width: 15px;
  height: 15px;
  background: #563bac;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
  background: #563bac;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 1px;
  background: #563bac;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#sideNav {
  width: 290px;
  height: 100vh;
  position: fixed;
  right: -290px;
  top: 0;
  background: #563bac;
  z-index: 2;
  transition: 0.5s;
}

#sideNav>ul>li {
  margin-left: 20%;
}

#sideNav>ul {
  margin-top: 37%;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

#menubtn {
  width: 50px;
  position: fixed;
  right: 15px;
  top: 40px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
}

/* about */

#about,
#offer {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

/* features */
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.feature-btn {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/* courses */

#courses {
  padding: 100px 0;
}

.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.corse-right-col {
  flex-basis: 50%;
}

.corse-right-col img {
  width: 100%;
}

.corse-left-col {
  flex-basis: 50%;
}

.course-text {
  max-width: 350px;
}

.course-text button {
  margin: 30px 0;
}

/* offer */

#offer button {
  margin: 30px 0;
}

/* contact */
.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}

.contact-right-col img {
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #563bac;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: rgb(255, 0, 179) url(images/small_loader1.gif) no-repeat center center;
  background-color: #ffffffcf;
}
